<h1>Create a new list</h1>
{{#each errors}}
    <div class="alert alert-danger">
        {{msg}}
    </div>
{{/each}}
<form method="post" action="/list/create">
    <div class="form-group">
        <label for="list-name">List Name</label>
        <input type="text" name="list-name" class="form-control" id="list-name"
               aria-describedby="list-name-help" placeholder="Enter list name" maxlength={{listNameLength}}>
        <small id="list-name-help" class="form-text text-muted">
            You can add items or villagers to your list while you're browsing the site.
        </small>
    </div>
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
</form>