{{> birthdays birthdays=birthdays shouldDisplayBirthdays=shouldDisplayBirthdays }}
<h1 class="sr-only">Welcome to VillagerDB!</h1>
<div class="character-intro mt-4">
    <div class="d-none d-sm-block">
        <img class="character-image" src="/images/misc/nook.png" alt="Tom Nook">
    </div>
    <div class="character-dialog">
        <span class="character-name">Tom Nook</span>
        <p>
            Why yes, hello hello! This is the <a href="/search?game=nh">biggest collection of New Horizons items on
            the internet</a>. Check out the categories below to find what you're looking for, hm?
        </p>
    </div>
</div>

<!-- New Horizons -->
<p class="mt-4 mb-2 text-center font-weight-bold">&#127965;&#65039; Welcome to New Horizons! What can we help you find? &#127965;&#65039;</p>
<div class="row catalog-choosers">
    <div class="col-6 col-md-4 mt-4">
        <a href="/villagers?game=nh" class="villagers-link">
            <div class="catalog-chooser">
                <p>Villagers</p>
                <span class="fas fa-5x fa-users"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/clothing?game=nh" class="clothing-link">
            <div class="catalog-chooser">
                <p>Clothing</p>
                <span class="fas fa-5x fa-tshirt"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/collectibles?game=nh" class="collectibles-link">
            <div class="catalog-chooser">
                <p>Collectibles</p>
                <span class="fas fa-5x fa-paint-brush"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/equipment?game=nh" class="equipment-link">
            <div class="catalog-chooser">
                <p>Equipment</p>
                <span class="fas fa-5x fa-hammer"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/all-furniture?game=nh" class="furniture-link">
            <div class="catalog-chooser">
                <p>Furniture</p>
                <span class="fas fa-5x fa-couch"></span>
            </div>
        </a>
    </div>

    <div class="col-6 col-md-4 mt-4">
        <a href="/items/nature?game=nh" class="nature-link">
            <div class="catalog-chooser">
                <p>Nature</p>
                <span class="fas fa-5x fa-tree"></span>
            </div>
        </a>
    </div>
</div>