<h1>Log In</h1>
<p>
    By logging in with Google, you can create an account on our site that will let you create lists you can
    share with others. Complete your catalog faster by conveniently passing around a list of items to your friends.
</p>
<p class="text-center">
    <a class="btn btn-outline-dark" href="/auth/google" role="button">
        <img src="/images/g-logo.svg" alt="Google Sign-In" />
        Sign in with Google
    </a>
</p>