<h1>Manage Account</h1>
{{#each errors}}
    <div class="alert alert-danger">
        {{msg}}
    </div>
{{/each}}

<p>
    If you wish to remove your account, check the box below and click &quot;Delete Account.&quot; Note that your
    deleted lists cannot be restored, and your username will no longer be reserved. You can sign back up at any
    time.
</p>

<form method="post" action="/auth/delete">
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="delete-check" id="delete-check">
            <label class="form-check-label" for="delete-check">
                I wish to delete my account.
            </label>
        </div>
    </div>
    <button type="submit" name="submit" class="btn btn-danger">Delete Account</button>
</form>
