<h1>Privacy Policy</h1>

<p>
    VillagerDB (&quot;us&quot;, &quot;we&quot;, or &quot;our&quot;) operates villagerdb.com (the &quot;Site&quot;).
    This page informs you of our policies regarding the collection, use and disclosure of Personal Information we
    receive from users of the Site.
</p>
<p>
    We use your Personal Information only for providing and improving the Site. By using the Site, you agree to
    the collection and use of information in accordance with this policy.
</p>

<p>1. INFORMATION COLLECTION AND USE</p>
<p>
    While using our Site, we may ask you to provide us with certain personally identifiable information that
    can be used to contact or identify you. Personally identifiable information may include, but is not limited
    to your email address (&quot;Personal Information&quot;). We collect your email address and Google ID should
    you choose to create an account. While we ask for your birth date at registration to confirm that you are 13
    years or older, we do not store this information.
</p>

<p>2. LOG DATA</p>
<p>
    Like many site operators, we collect information that your browser sends whenever you visit our
    Site (&quot;Log Data&quot;).
</p>
<p>
    This Log Data may include information such as your computer's Internet Protocol (&quot;IP&quot;) address,
    browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the
    time spent on those pages and other statistics.
</p>
<p>
    In addition, we may use third party services such as Google Analytics that collect, monitor and analyze this data.
</p>

<p>3. COMMUNICATIONS</p>
<p>
    We may use your Personal Information to contact you if necessary for assistance with your account, or if we
    need to send a site-wide notice to all of our users. If we add a newsletter for regular updates in the future,
    it will be an opt-in service and you will not be subscribed by default.
</p>

<p>4. COOKIES</p>
<p>
    Cookies are files with small amount of data, which may include an anonymous unique identifier. Cookies are
    sent to your browser from a web site and stored on your computer's hard drive.
</p>
<p>
    Like many sites, we use &quot;cookies&quot; to collect information. You can instruct your browser to refuse
    all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be
    able to use some portions of our Site. We send a session cookie to users who log in and refusal to accept this
    cookie will prevent your account from working.
</p>

<p>5. SECURITY</p>
<p>
    The security of your Personal Information is important to us, but remember that no method of transmission over
    the Internet, or method of electronic storage, is 100% secure. While we strive to use commercially acceptable
    means to protect your Personal Information, we cannot guarantee its absolute security.
</p>

<p>6. CHANGES TO THIS PRIVACY POLICY</p>
<p>
    This Privacy Policy will remain in effect except with respect to any changes in its provisions in the future,
    which will be in effect immediately after being posted on this page.
</p>
<p>
    We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy
    Policy periodically. Your continued use of the Site after we post any modifications to the Privacy Policy on
    this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by
    the modified Privacy Policy.
</p>

<p>7. CONTACT US</p>
<p>
    If you have any questions about this Privacy Policy, please contact us at support&quot;AT&quot;villagerdb.com.
</p>