<h1>Terms of Service</h1>

<p>1. MINORS.</p>
<p>
    You must be 13 years or older to make an account on this website. At the time of registration, you will be asked
    to provide your birth date. If your birth date indicates that you are below the age of 13, your registration will
    be terminated. Anyone found to be in violation of this policy will have their account removed and email address
    banished from future use on the website. We impose a strict zero tolerance policy on this rule and will not respond
    to inquiries requesting that a ban be lifted.
</p>

<p>2. PRIVACY POLICY IS PART OF THESE TERMS AND CONDITIONS.</p>
<p>
    Our privacy policy is part of, and subject to, these terms and conditions of use. You may view our privacy policy
    on this website <a href="/privacy-policy">here</a>.
</p>

<p>3. ANTI-SPAM POLICY.</p>
<p>
    Use of our website in any way deemed to be spam by the administration will result in termination of your account.
    This includes creating a username or list that encourages users to visit another website or use another service.
    Attempting to contact other users of this site in any way for purposes deemed to be spam will not be tolerated.
</p>

<p>4. MODIFICATIONS AND TERMINATIONS.</p>
<p>
    These terms and conditions may change from time to time. If such changes are made, they will be effective
    immediately. If you disagree with changes that have been made to these terms, you should not use this website.
</p>
<p>
    We may terminate these terms and conditions of use for any reason and at any time without notice to you.
</p>

<p>
    If you are concerned about these terms and conditions of use, you should read them each time before you use our
    website.
</p>

<p>5. LICENSEE STATUS.</p>
<p>
    You understand and agree that your use of our website is limited and non-exclusive as a revocable licensee.
    We may terminate your license to use our website, and access to our website, for any reason, and without giving
    you notice.
</p>

<p>6. CONTENT OWNERSHIP.</p>
<p>
    We claim ownership only over the name VillagerDB and its logo. All in-game content on this website is the
    intellectual property of Nintendo. As a result, we nor you may claim ownership over any lists you create
    on this website.
</p>

<p>7. DISCLAIMERS AND LIMITATIONS OF LIABILITY.</p>
<p>
    The information on our website is provided on an &quot;as is,&quot; &quot;as available&quot; basis. You agree
    that your use of our website is at your sole risk. We disclaim all warranties of any kind, including but not
    limited to, any express warranties, statutory warranties, and any implied warranties of merchantability,
    fitness for a particular purpose, and non-infringement. We do not warrant that our website will always be
    available, access will be uninterrupted, be error-free, meet your requirements, or that any defects in our
    website will be corrected.
</p>
<p>
    Information on our website should not necessarily be relied upon and should not to be construed to be
    professional advice from us. We do not guarantee the accuracy or completeness of any of the information
    provided, and are not responsible for any loss resulting from your reliance on such information.
</p>
<p>
    If your jurisdiction does not allow limitations on warranties, this limitation may not apply to you.
    Your sole and exclusive remedy relating to your use of the site shall be to discontinue using the site.
</p>
<p>
    Under no circumstances will we be liable or responsible for any direct, indirect, incidental, consequential
    (including damages from loss of business, lost profits, litigation, or the like), special, exemplary, punitive,
    or other damages, under any legal theory, arising out of or in any way relating to our website, your website
    use, or the content, even if advised of the possibility of such damages.
</p>

<p>8. OBSCENE AND OFFENSIVE CONTENT.</p>
<p>
    We are not responsible for any obscene or offensive content that you receive or view from others while using our
    website. However, if you do receive or view such content, please contact us by e-mail at
    support&quot;AT&quot;villagerdb.com so that we can investigate the matter. Although we are not obligated
    to do so, we reserve the right to monitor, investigate, and remove obscene or offensive material posted
    to our website.
</p>

<p>9. INDEMNIFICATION.</p>
<p>
    You understand and agree that you will indemnify, defend and hold us and our affiliates harmless from any
    liability, loss, claim and expense, including reasonable attorney’s fees, arising from your use of our
    website or your violation of these terms and conditions.
</p>

<p>10. COMPLIANCE WITH GOVERNING LAW AND DISPUTE RESOLUTION.</p>
<p>
    You agree to obey all applicable laws while using our website.
</p>

<p>11. SEVERABILITY OF THESE TERMS AND CONDITIONS.</p>
<p>
    If any part of these terms and conditions of use are determined by a court of competent jurisdiction to be
    invalid or unenforceable, that part shall be limited or eliminated to the minimum extent necessary so that the
    remainder of these terms and conditions are fully enforceable and legally binding.
</p>

<p>12. HOW TO CONTACT US.</p>
<p>
    Any questions or concerns about these terms and conditions of use should be brought to our attention
    by e-mail to support&quot;AT&quot;villagerdb.com. and providing us with information relating to your concern.
</p>

<p>13. ENTIRE AGREEMENT.</p>
<p>
    These terms and conditions, including the policies incorporated herein by express reference, constitutes
    your entire agreement with us with respect to your use of our website.
</p>