<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
            aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">
        <span class="sr-only">VillagerDb</span>
        <img src="/images/logo-navbar.1111111.svg" alt="VillagerDB logo" />
    </a>

    <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/villagers?game=nh">Villagers</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/items/diy?game=nh">DIYs <sup style="color: yellow; font-weight: bold;">New!</sup></a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-clothing" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Clothing
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-clothing">
                    <a class="dropdown-item" href="/items/accessories?game=nh">Accessories</a>
                    <a class="dropdown-item" href="/items/bottoms?game=nh">Bottoms</a>
                    <a class="dropdown-item" href="/items/dresses?game=nh">Dresses</a>
                    <a class="dropdown-item" href="/items/hats?game=nh">Hats</a>
                    <a class="dropdown-item" href="/items/shoes?game=nh">Shoes</a>
                    <a class="dropdown-item" href="/items/socks?game=nh">Socks</a>
                    <a class="dropdown-item" href="/items/tops?game=nh">Tops</a>
                    <a class="dropdown-item" href="/items/umbrellas?game=nh">Umbrellas</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-collectibles" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Collectibles
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-collectibles">
                    <a class="dropdown-item" href="/items/art?game=nh">Art</a>
                    <a class="dropdown-item" href="/items/bugs?game=nh">Bugs</a>
                    <a class="dropdown-item" href="/items/fish?game=nh">Fish</a>
                    <a class="dropdown-item" href="/items/fossils?game=nh">Fossils</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-equipment" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Equipment
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-equipment">
                    <a class="dropdown-item" href="/items/usables?game=nh">Usables</a>
                    <a class="dropdown-item" href="/items/tools?game=nh">Tools</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-furniture" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Furniture
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-furniture">
                    <a class="dropdown-item" href="/items/flooring?game=nh">Flooring</a>
                    <a class="dropdown-item" href="/items/furniture?game=nh">Indoor/Outdoor Items</a>
                    <a class="dropdown-item" href="/items/music?game=nh">Music</a>
                    <a class="dropdown-item" href="/items/photos?game=nh">Photos <sup style="color: red; font-weight: bold;">New!</sup></a>
                    <a class="dropdown-item" href="/items/wallpaper?game=nh">Wallpaper</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="menu-nature" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Nature
                </a>
                <div class="dropdown-menu" aria-labelledby="menu-nature">
                    <a class="dropdown-item" href="/items/bushes-trees?game=nh">Bushes and Trees</a>
                    <a class="dropdown-item" href="/items/flowers?game=nh">Flowers</a>
                    <a class="dropdown-item" href="/items/fruit?game=nh">Fruit</a>
                </div>
            </li>

        </ul>
        <ul class="navbar-nav">
        {{#if userState.isRegistered}}
            <li class="nav-item">
                <a class="nav-link" href="/user/{{userState.username}}">{{userState.username}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/auth/logout">Log Out</a>
            </li>
        {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/login">Log In</a>
            </li>
        {{/if}}
        </ul>
    </div>
</nav>