<div class="text-right mb-3">
    <div>
        <a href="/random/villager">
            <span class="fas fa-users"></span>
            Visit a random villager
        </a>
    </div>
    <div>
        <a href="/random/item">
            <span class="fas fa-hammer"></span>
            Find a random item
        </a>
    </div>
</div>